body {
  margin: 0;
  font-family: koverwatch, bignoodletoo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'koverwatch', 'bignoodletoo';
  src: local('koverwatch', url('/assets/fonts/koverwatch.ttf'))
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}